.contactformdiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 4rem;
    border-color: black;
    border: 5px solid black;
}