@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.main-container {
  padding: 2rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.container{
  padding: 4rem;
}

.dashboard{
  padding: 2rem;
}
.dashboard_heading{
  font-size: 2rem;
  font-weight: bolder;
  margin: auto;
}
.dashboard_text{
  font-size: 1.5rem;
  font-weight: normal;
  margin: auto;
  color: black;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease;
  border: none;
  background: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: black;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.find_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin: 1rem 0;
  padding: 2rem;
} 

.box{
  background-color: #b1dae7;
}

 .search_form {
  display: flex;
  flex-direction: row;
  background-color: #b1dae7;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  width: auto;
}

.input-field {
  padding: 0.5rem;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.input-field:focus {
  outline: none;
  border-color: #b1dae7;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.search-button:hover {
  color: black;
  background-color: white;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: #b1dae7;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 
.careers{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5rem;
}

.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #b1dae7;
  padding: 4px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.action:hover {
  background-color: #6bc4df;
}

.action span {
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
}


.job_category_section{
  height: 100vh;
}

.job_category_section .main_div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: 100%;
}

.job_category_section .main_div .header_of_category{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.job_category_section .main_div .header_of_category h1{
  font-size: 2rem;
  font-weight: bolder;
  margin: auto;
}

.job_category_section .main_div .header_of_category p{
  font-size: 1.5rem;
  font: italic;
  font-weight: normal;
  margin: auto;
}

.job_category_section .main_div .categories{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  height: 100%;
  height: 100%;
}

.job_category_section .main_div .categories .row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
  height: 100%;
}

.job_category_section .main_div .categories .row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
  height: 100%;
}

.category {
  position: relative;
  width: 20%;
  height: 60%;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.category:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.category__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: translateY(100%); /* Move content to the bottom */
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.category:hover .category__content {
  transform: rotateX(0deg);
}

.category__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.category:hover svg {
  scale: 0;
}

.category__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.link_btn {
  background-color: #b1dae7;
  margin-top: 10px;
  padding: 0.21rem;
  border-radius: 0 0 10px 10px; 
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_btn:hover{
  background-color: #6bc4df;
}


.recent_jobs{
  height: 100vh;
}

.recent_jobs_body{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recent_jobs_body_header{
  padding: 2rem;
}

.recent_jobs_body_header_text{
  font-size: 2rem;
  font-weight: bolder;
  margin: auto;
}

.recent_jobs_body_content{
  padding: 2rem;
}

.recent_jobs_body_footer{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent_jobs_body_footer_btn{
  background-color: #6bc4df;
  margin-top: 10px;
  height: 50px;
  width: 200px;
  padding: 0.21rem;
  color: white;
  border-radius: 0 0 10px 10px; 
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.recent_jobs_body_footer_btn:hover{
  background-color: #b1dae7;
}

.job_alert_reg {
  height: 100vh;
}


.footer{
  height: 100vh;
}